<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ToDoリスト</title>
		
    </head>
    <body>
		<thead>
			<table border="1">
		           <tr>
		               <th>ID</th>
		               <th>タイトル</th>
		               <th>優先度</th>
					   <th>ステータス</th>
		           </tr>
		       </thead>
		       <tbody>
<!--				entityで作成した変数を使用する-->
		           <tr th:each="todo : ${todos}">
		               <td th:text="${todo.getTodoId()}"></td>
		               <td th:text="${todo.getTodoTitle()}"></td>
					   <td th:text="${todo.getTodoPriority()}"></td>
					   <td th:text="${todo.getTodoStatus()}"></td>
					   </tr>
					   </tbody>
					   </table>
    </body>
</html>