<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>お問い合わせフォーム</title>
</head>
<body>
<h1>お問い合わせフォーム</h1>
<form th:action="@{/confirm}" th:object="${contactForm}" method="post">
    <div>
        <label>お名前:</label>
        <input type="text" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"style="color: red;"></span>
    </div>
    <div>
        <label>メールアドレス:</label>
        <input type="text" th:field="*{email}" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"style="color: red;"></span>
    </div>
    <div>
        <label>お問い合わせ内容:</label>
        <textarea th:field="*{message}" cols="30" rows="10"></textarea>
        <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"style="color: red;"></span>
    </div>
    <div>
        <button type="submit">確認画面へ</button>
    </div>
</form>
</body>
</html>